.navBar {
    padding: 25px 0 !important;
    //margin: 0 100px !important;
    .navButton{
        border-radius: 10px;
        border: 1px solid #FFF;
        background: transparent;
        color: #FFF;
        font-family: Inter, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 5px 15px;
    }
}

.navContainer {
    display: flex;

    .navCollapse {
        flex-grow: unset !important;
    }

    .navBrandImg {
        width: auto;
        height: 45px;
    }

    .Nav {
        padding: 0;
        --bs-nav-link-padding-y: 5px;
        align-items: center;
    }


    .navLink {
        margin-right: 50px;
        color: rgba(#FFF, 0.6);
        font-family: Inter, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        &:hover {
            color: #FBBD00;
        }
    }


}


.toggleButton{
    outline: none !important;
    border: none !important;
    &:focus{
        box-shadow: none !important;
    }
    span{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

}
.canvasClose{
    button{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") !important;
    }

}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1441px) {
    .navBar {
        padding: 5px 0 !important;
    }

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {


}


@media screen and (max-width: 992px) {
    .navBar {
        .navButton {
            display: none;
        }
    }

    .navContainer {
        .navy {
            display: none;
        }
    }
}
@media screen and (max-width: 768px) {


}


@media screen and (max-width: 575px) {
    .offCanvas{
        width: 60% !important;

    }
}
