.FeaturedHomeSection {
    margin-top: 120px;
    padding-top: 200px;
    position: relative;
    overflow: hidden;
    .topCurve{
        background-color: #F5F6FA;
    }
.featuredCtx{
    position: relative;

    .accordionParent{
        margin-top: 80px;
    }
    .featuredList{
        list-style: none;
        margin: 0;
        padding:0;
    }
    .featuredListItem{
        border-bottom: 1px solid rgba(#000, 0.3);
        padding: 50px 0;
        //cursor: pointer;
        a{
            display: flex;
            justify-content: space-between;
            text-decoration: none;
        }
        .info{
            display: flex;
        }

        .listTitle{
            font-weight: 500;
            margin-left: 15px;
        }
        .svg{
            stroke: #696969;
        }
        &:hover{
            .listDate, .listTitle{
                color: #FBBD00;
            }
            svg{
                stroke: #FBBD00;
            }
        }
        &:last-child{
            border-bottom: none;
        }
    }
}

}



@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {


}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 767px) {

}


@media screen and (max-width: 575px) {

    .FeaturedHomeSection {
        padding-top: 120px;
        .featuredCtx{
            .featuredListItem{
                .listDate{
                    font-size: 10px;
                }
                .listTitle{
                    font-size: 12px;
                }
                svg{
                    width: 30px;
                    height: 30px;
                    stroke: #696969;
                }
            }
        }
    }
}
