.overviewSection {
    margin-top: 50px;
    .topParagraph {
        display: flex;
        align-items: end;
        margin-top: 2rem;
    }
    .aboutBg {
        background: url("/assets/images/bg/aboutbg.png");
    }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
}
@media screen and (max-width: 450px) {
}
