.topSection {
    margin-top: 100px;
    margin-bottom: 150px;
    .infoHomeCol {
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;
        .infoHomeBG {
            background: url("/assets/images/acacia.png");
            background-size: cover;
            width: 100%;
            height: 100%;
            position: relative;
            &:after {
                content: " ";
                width: 10px;
                height: 50%;
                background: #fbbd00;
                position: absolute;
                bottom: 0;
                left: -10px;
            }
        }
    }
    .infoHomeInfo {
        padding-right: 100px;
        h5 {
            margin-bottom: 25px;
        }

        .m65 {
            margin-bottom: 65px;
        }
        p {
            margin-bottom: 25px;
        }

        button.text {
            color: #fbbd00;
            text-align: justify;
            font-family: Inter, serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            border: none;
            background: transparent;
            margin-bottom: 100px;
        }

        .records {
            margin-bottom: 50px;
            margin-top: 50px;
            display: flex;
            gap: 3rem;
            .recordItem {
                display: flex;
                align-items: center;
                margin: 0 1rem;

                img {
                    width: 47px;
                    height: 47px;
                    margin-right: 15px;
                }
                h3 {
                    color: #fbbd00;
                    text-align: justify;
                    font-family: Nexa Bold, serif;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin: 0;
                }
                .title {
                    color: #000;
                    text-align: justify;
                    font-family: Nexa Bold, serif;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
        }
        .contact {
            margin-bottom: 85px;
            img {
                width: 47px;
                height: 47px;
                margin-bottom: 30px;
            }
            h5 {
                color: #000;
                margin-bottom: 15px;
            }
            p {
                padding-right: 120px;
            }
            button {
                border-radius: 10px;
                padding: 8px 30px;
                min-width: 215px;
                text-align: center;
                font-family: Inter, serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                border: none;
                &.yellow {
                    background: #fbbd00;
                    color: #000;
                }
                &.dark {
                    background: #000;
                    color: #fff;
                }
            }
        }
    }
    .estateFeatures {
        .eFeatureItem {
            text-align: center;
            svg {
                width: 64px;
                height: 64px;
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .topSection {
        .infoHomeInfo {
            .contact {
                p {
                    padding-right: 60px;
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .topSection {
        .infoHomeInfo {
            padding-right: 100px;
            .contact {
                p {
                    padding-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .topSection {
        .infoHomeInfo {
            padding-right: 0 50px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .topSection {
        .infoHomeInfo {
            padding-right: 50px;
            .contact {
                button {
                    min-width: 150px;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .topSection {
        .infoHomeCol {
            height: 600px;
            .infoHomeBG {
                width: 90%;
                height: 100%;
                left: 5%;
                //&:after{
                //    left: calc(5% + 3px);
                //}
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .records {
        justify-content: center;
        gap: 2rem;
    }
}

@media screen and (max-width: 575px) {
    .topSection {
        .infoHomeInfo {
            padding: 20px 20px;
            h2 {
                font-size: 25px;
            }
            p {
                font-size: 12px;
            }
            .records {
                .recordItem {
                    margin-bottom: 30px;
                    h3 {
                        font-size: 27px;
                    }
                    .title {
                        font-size: 13px;
                    }
                }
            }
            .contact {
                h5 {
                    font-size: 13px;
                }
                button {
                    font-size: 10px;
                }
            }
        }
    }
}
