.infoHomeSection {

    .infoHomeCol {
        position: relative;
        overflow: hidden;
        .infoHomeBG {
            background: url("/assets/images/about-home.png");
            background-size: cover;
            margin-left: -2%;
            width: 150%;
            height: 100%;
            position: absolute;
            border-radius: 50% 50%/150px 0 0;
        }
        &:after{
            content: ' ';
            width: 20px;
            height: 50%;
            background: #FBBD00;
            position: absolute;
            bottom: 0;
            right: -15px;
        }
    }
    .infoHomeInfo{
        padding: 100px 150px;
        h5{
            margin-bottom: 25px;
        }

        .m65{
            margin-bottom: 65px;
        }
        p{
            margin-bottom: 25px;
        }

        button.text{
            color: #FBBD00;
            text-align: justify;
            font-family: Inter, serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            border: none;
            background: transparent;
            margin-bottom: 100px;
        }

    }
}



@media screen and (max-width: 1600px) {

    .infoHomeSection{
        .infoHomeInfo{
            .contact{
                p{
                    padding-right: 60px;
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .infoHomeSection{
        .infoHomeInfo{
            padding: 100px 100px;
            .contact{
                p{
                    padding-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .infoHomeSection{
        .infoHomeInfo{
            padding: 100px 50px;
        }
    }
}

@media screen and (max-width: 1024px) {

    .infoHomeSection{
        .infoHomeInfo{
            padding: 100px 50px;
            .contact{
                button{
                    min-width: 150px;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    .infoHomeSection{
        .infoHomeCol{
            &:after{
                content: none;
            }
            height: 600px;
            .infoHomeBG{
               left: 50%;
                transform: translateX(-50%);
                width: 90%;
                height: 100%;
                position: absolute;
                border-radius: 50%/60px 60px 0 0;

            }
        }
    }
}


@media screen and (max-width: 575px) {

    .infoHomeSection{
        .infoHomeCol {
            height: 400px;
            .infoHomeBG{
                transform: translate(-48%);
                border-radius: 50%/35px 35px 0 0;
                &:after{
                    content: ' ';
                    width: 7px;
                    height: 50%;
                    background: #FBBD00;
                    position: absolute;
                    bottom: 0;
                    right: -7px;
                }
            }

        }
        .infoHomeInfo{
            padding: 100px 20px;
            h2{
                font-size: 25px;
            }
            p{
                font-size: 12px;
            }
            .records{
                .recordItem{
                    h3{
                        font-size: 27px;
                    }
                    .title{
                        font-size: 13px;
                    }
                }
            }
            .contact{
                h5{
                    font-size: 13px;
                }
                button{
                    font-size: 10px;
                }
            }
        }
    }
}
