.teamSection {
    margin-top: 100px;
    .teamItem {
        margin: 70px 0;
        .teamImg {
            right: -10px;
             background-position: center !important;
            background-size: cover !important;
            width: 100%;
            height: 100%;
            // min-height: 400px;
            // max-height: 500px;
        }
        .teamInfo {
            padding-left: 70px;
        }
    }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 992px) {
    .teamHead {
        margin-left: 1rem;
    }
    .teamSection {

        .teamItem {
            .teamImg {
                min-height: 890px;
            }
            .teamInfo {
                padding-left: 0;
                h4{
                    margin-top: 50px;
                }
            }
        }
    }

}

@media screen and (max-width: 767px) {
    .teamItem {
        margin-right: 20px !important;
        .teamImg {
            min-height: 640px !important;
        }
    }

    .teamHead {
        margin-left: 20px;
    }
}

@media screen and (max-width: 575px) {
}
@media screen and (max-width: 450px) {
    .teamItem {
        margin-right: 20px !important;
        .teamImg {
            min-height: 510px !important;
        }
    }
}
