.mainSection {
    margin-bottom: 100px;
    .infoContactCol {
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;
        height: 580px;
        .infoContactBg {
            background: url("/assets/images/contactTeam.png");
            background-size: cover;
            width: 100%;
            height: 100%;
            position: relative;
            &:after {
                content: "";
                width: 10px;
                height: 50%;
                background: #fbbd00;
                position: absolute;
                bottom: 0;
                right: -10px;
            }
        }
    }

    .infoContactInfo {
        padding: 0 150px;
        margin-bottom: 2rem;
        h5 {
            color: #fbbd00;
            font-family: Inter, serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 15px;
        }
    }

    .teams {
        padding: 0 150px;
        p {
            color: #585858;
            color: #585858;
            text-align: justify;
            font-family: Inter;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.75rem;
            margin-bottom: 20px;
            width: 100%;
            max-width: 53.75rem;
        }

        .peopleContainer {
            display: flex;
            gap: 2rem;
            margin-top: 3rem;

            .secondItem {
                margin-left: 5rem;
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-left: -2rem;
                .personContainer {
                    display: flex;
                    align-items: center;
                    img{
                        width: 78px;
                        height: 78px;
                    }

                    h4 {
                        color: #000;
                        font-family: Nexa Bold;
                        font-size: 1.875rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        margin-bottom: -2px;
                    }
                    h5 {
                        color: #585858;
                        font-family: Inter;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        margin-bottom: -5px;
                    }
                    p {
                        color: #fbbd00;
                        font-family: Inter;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .mainSection {
        .infoContactCol {
            height: auto;
        }
        .infoContactInfo {
            padding: 0 100px;
        }

        .teams {
            padding: 0 10px 0 80px;
            .peopleContainer {
                .secondItem {
                    margin-left: 2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .mainSection {
        .infoContactInfo {
            padding: 0 50px;
        }
        .teams {
            padding: 0 50px;
        }
    }
}

@media screen and (max-width: 992px) {
    .mainSection {
        .infoContactCol {
            height: 600px;
            .infoContactBg {
                width: 90%;
                height: 100%;
                left: 5%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .teams {
        p {
            text-align: center;
            margin-top: 40px;
        }
        .peopleContainer {
            flex-direction: column;

            .secondItem {
                margin-left: 0 !important;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .mainSection {
        .infoContactInfo {
            padding: 20px 20px;
            margin-left: 20px;
            h2 {
                font-size: 25px;
            }
        }
        .teams {
            padding: 20px 25px;
            p {
                font-size: 14px;
            }
        }
    }
}
