

.sliderNext, .sliderPrevious {
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 1;
}
.sliderNext{
    right: -100px;
}

.sliderPrevious{
    left: -100px;
}
.sliderCtx{
    //overflow: hidden;
}


@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1440px) {
    .sliderNext{
        right: -30px;
    }

    .sliderPrevious{
        left: -30px;
    }
    .sliderNext,
    .sliderPrevious {
        fill: white;
    }
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {


}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 767px) {

}


@media screen and (max-width: 575px) {
    .sliderNext{
        right: 0;
    }

    .sliderPrevious{
        left: 0;
    }

}
