.ourHomeSection {
    .ourHomeIntro {
    }

    .homesCarouselItem {
        //width: 300px;
        height: 550px;
        border-radius: 10px;
        background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.6) 100%
            ),
            url("/assets/images/homes/carousel/home.png");
        background-size: cover !important;
        margin: 0 12px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;

        .info {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 25px;

            h3 {
                font-size: 50px;
            }

            .description {
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                margin-bottom: 20px;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }

            a {
                text-decoration: none;
                font-size: 16px;

                svg {
                    stroke: white;
                }
            }
        }

        &:hover {
            .info {
                .description {
                    padding-bottom: 80px;
                }

                a {
                    text-decoration: none;
                    margin-top: 15px;
                    color: #000;
                    font-size: 20px;

                    svg {
                        stroke: #000;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 767px) {
    .ourHomeSection {
        .homesCarouselItem {
            height: 450px;
        }
    }
}

@media screen and (max-width: 575px) {
    .ourHomeSection {
        .homesCarouselItem {
            height: 350px;
            margin: 0 5px;
            .info {
                padding: 15px;
                h3 {
                    font-size: 35px;
                }

                .description {
                    font-size: 15px;
                }
                a {
                    font-size: 15px;
                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            &:hover {
                .info {
                    a {
                        font-size: 15px;
                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .ourHomeSection {
        .homesCarouselItem {
            height: 350px;
            margin: 0 5px;
            .info {
                h3 {
                    font-size: 25px;
                }

                .description {
                    font-size: 8px;
                    margin-bottom: 0;
                    line-height: 12px;
                }
                a {
                    font-size: 8px;
                    svg {
                        width: 10px;
                        height: 10px;
                    }
                }
            }
            &:hover {
                .info {
                    a {
                        font-size: 12px;
                        svg {
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }
        }
    }
}
